#error-screen .message{
    font-family: 'Kantumruy Pro', sans-serif;
    font-weight: 500;
    color: #1C4187;
    font-size: 24px;
    text-shadow: 1px 1px #00000030;
    margin: 0px 20px 20px;
    text-align: center;
}
