#lobby-screen .title{
	font-family: 'Kantumruy Pro', sans-serif;
    font-weight: 500;
    color: #1C4187;
    font-size: 60px;
    text-shadow: 3px 1px #00000030;
    margin: 0px 0px 20px;
    text-align: center;
}

#lobby-screen .player-list{
	min-height: 40%;
    min-width: 20%;
    display: flex;
    flex-direction: column;
    background-color: #bdd5ffee;
    border: none;
    margin: 0px 0px 30px;
    padding: 10px 20px 20px;
    font-size: 30px;
    border-radius: 4px;
    font-family: 'Kantumruy Pro', sans-serif;
    font-weight: 400;
    color: cornflowerblue;
    box-shadow: 2px 2px #00000030;
    list-style: none;
    text-align: center;
}

#lobby-screen .player{
	margin: 12px 0px 0px;
}

#lobby-screen .host-panel{
	min-height: 40%;
    min-width: 20%;
    display: flex;
    flex-direction: column;
    background-color: #bdd5ffee;
    border: none;
    margin: 30px 0px 30px;
    padding: 10px 20px 20px;
    font-size: 30px;
    border-radius: 4px;
    font-family: 'Kantumruy Pro', sans-serif;
    font-weight: 400;
    color: cornflowerblue;
    box-shadow: 2px 2px #00000030;
    list-style: none;
    text-align: center;
    align-items: center;
}

#lobby-screen .toggle input[type="checkbox"] {
    display: none;
}
#lobby-screen .toggle input[type="checkbox"] + label {
    display: block;
    position: relative;
    width: 1.5em;
    height: 0.8em;
    border-radius: 0.5em;
    background: #e84d4d;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
}
#lobby-screen .toggle input[type="checkbox"] + label:before {
    content: "";
    display: block;
    width: 0.6em;
    height: 0.6em;
    border-radius: 0.5em;
    background: #fff;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0.1em;
    top: 0.1em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#lobby-screen .toggle input[type="checkbox"]:checked + label {
    background: #47cf73;
}
#lobby-screen .toggle input[type="checkbox"]:checked + label:before {
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
    left: 0.8em;
}

#lobby-screen .toggle-option{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 12px 0px 0px;
}

#lobby-screen .toggle-label{
    margin-left: 15px;
}
