#lobby-screen .title{
	font-family: 'Kantumruy Pro', sans-serif;
    font-weight: 500;
    color: #1C4187;
    font-size: 60px;
    text-shadow: 3px 1px #00000030;
    margin: 0px 0px 20px;
    text-align: center;
}

#lobby-screen .player-list{
	min-height: 40%;
    min-width: 20%;
    display: flex;
    flex-direction: column;
    background-color: #bdd5ffee;
    border: none;
    margin: 0px 0px 30px;
    padding: 10px 20px 20px;
    font-size: 30px;
    border-radius: 4px;
    font-family: 'Kantumruy Pro', sans-serif;
    font-weight: 400;
    color: cornflowerblue;
    box-shadow: 2px 2px #00000030;
    list-style: none;
    text-align: center;
}

#lobby-screen .host-panel{
	min-height: 40%;
    min-width: 20%;
    display: flex;
    flex-direction: column;
    background-color: #bdd5ffee;
    border: none;
    margin: 30px 0px 30px;
    padding: 10px 20px 20px;
    font-size: 30px;
    border-radius: 4px;
    font-family: 'Kantumruy Pro', sans-serif;
    font-weight: 400;
    color: cornflowerblue;
    box-shadow: 2px 2px #00000030;
    list-style: none;
    text-align: center;
    align-items: center;
}

/* toggle-pill-color */
.toggle-pill-color input[type="checkbox"] {
    display: none;
}
.toggle-pill-color input[type="checkbox"] + label {
    display: block;
    position: relative;
    width: 3em;
    height: 1.6em;
    margin-bottom: 20px;
    border-radius: 1em;
    background: #e84d4d;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
}
.toggle-pill-color input[type="checkbox"] + label:before {
    content: "";
    display: block;
    width: 1.2em;
    height: 1.2em;
    border-radius: 1em;
    background: #fff;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0.2em;
    top: 0.2em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.toggle-pill-color input[type="checkbox"]:checked + label {
    background: #47cf73;
}
.toggle-pill-color input[type="checkbox"]:checked + label:before {
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
    left: 1.6em;
}
    /* toggle-pill-color end */

#lobby-screen .player{
	margin: 12px 0px 0px;
}
