#lobby-screen .title{
	font-family: 'Kantumruy Pro', sans-serif;
    font-weight: 500;
    color: #1C4187;
    font-size: 60px;
    text-shadow: 3px 1px #00000030;
    margin: 0px 0px 20px;
    text-align: center;
}

#lobby-screen .player-list{
    min-width: 20%;
    display: flex;
    flex-direction: column;
    background-color: #bdd5ffee;
    border: none;
    margin: 0px 0px 30px;
    padding: 10px 20px 25px;
    font-size: 20px;
    border-radius: 4px;
    font-family: 'Kantumruy Pro', sans-serif;
    font-weight: 400;
    color: cornflowerblue;
    box-shadow: 2px 2px #00000030;
    list-style: none;
    text-align: center;
}

#lobby-screen .player{
	margin: 12px 0px 0px;
}

#lobby-screen .info-panel{
    min-width: 20%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    background-color: #bdd5ffee;
    border: none;
    margin: 30px 0px 30px;
    padding: 10px 20px 20px;
    font-size: 30px;
    border-radius: 4px;
    font-family: 'Kantumruy Pro', sans-serif;
    font-weight: 400;
    color: cornflowerblue;
    box-shadow: 2px 2px #00000030;
    list-style: none;
    text-align: center;
    align-items: center;
}

#lobby-screen .toggle input[type="checkbox"] {
    display: none;
}
#lobby-screen .toggle input[type="checkbox"] + label {
    display: block;
    position: relative;
    width: 1.5em;
    height: 0.8em;
    border-radius: 0.5em;
    background: #e84d4d;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
}
#lobby-screen .toggle input[type="checkbox"] + label:before {
    content: "";
    display: block;
    width: 0.6em;
    height: 0.6em;
    border-radius: 0.5em;
    background: #fff;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0.1em;
    top: 0.1em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#lobby-screen .toggle input[type="checkbox"]:checked + label {
    background: #47cf73;
}
#lobby-screen .toggle input[type="checkbox"]:checked + label:before {
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
    left: 0.8em;
}

#lobby-screen .toggle-open{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 12px 0px 0px;
}

#lobby-screen .toggle{
    margin-right: 15px;
}

#lobby-screen .mode-select {  
    background-color:cornflowerblue;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20256%20448%22%20enable-background%3D%22new%200%200%20256%20448%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.arrow%7Bfill%3Awhite%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22arrow%22%20d%3D%22M255.9%20168c0-4.2-1.6-7.9-4.8-11.2-3.2-3.2-6.9-4.8-11.2-4.8H16c-4.2%200-7.9%201.6-11.2%204.8S0%20163.8%200%20168c0%204.4%201.6%208.2%204.8%2011.4l112%20112c3.1%203.1%206.8%204.6%2011.2%204.6%204.4%200%208.2-1.5%2011.4-4.6l112-112c3-3.2%204.5-7%204.5-11.4z%22%2F%3E%3C%2Fsvg%3E%0A");
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: auto 50%;
    border-radius:2px;
    border:none;
    color: #ffffff;
    padding: 10px 30px 10px 10px;
    /*disable default appearance*/
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    &::-ms-expand { display: none };
}

/* remove dotted firefox border*/
@-moz-document url-prefix() {
	#lobby-screen .mode-select {
		color: rgba(0,0,0,0);
		text-shadow: 0 0 0 #ffffff;
	}
}

#lobby-screen .mode-info{
    text-align: justify;
    font-size: 20px;
    max-width: 350px;
    margin: 10px;
}