@media screen and (max-width: 800px) {
    #main-screen .title{
        font-size: 45px;
        text-shadow: 3px 1px #00000030;
    }

    #lobby-screen .title{
        font-size: 45px;
    }

    #lobby-screen .player-list{
        width: 200px;
    }

    #question-screen .description{
        font-size: 24px;
    }

    #correction-screen .correction{
        font-size: 24px;
    }

    #correction-screen .player{
        font-size: 24px;
    }
}